.TransactFrom
  = image_tag src="logo.png", class: "TsurutaIcon"
  .TransactBox
    .TransactContents
      .TransactContents__title
        購入内容の確認
      .TransactItem
        .TransactItem__image
          = image_tag @item.images.first.image.url, class: "TransactItem-image"
        .TransactItem__info
          .TransactItem__name
            = @item.name
          .TransactItem__price
            = "#{@item.price}円"
      .TransactAmount
        %h3 支払い金額
        %p 
          = "¥#{@item.price}円"
      .TransactMethod
        %h3 支払い方法
        = link_to new_card_path, class: "MethodLink" do
          登録してください
      .TransactAddress
        %h3 配送先
        = current_user.address.postal_code
        %br
        = current_user.address.prefecture_id
        %br
        = current_user.address.city
        %br
        = current_user.address.block
        %br
        = current_user.address.building
        %br
        = link_to "#", class: "AddressLink" do
          配送先の変更
      .TransactButtom
        = form_tag(action: :pay, method: :post) do
          %button.TsurutaSubmit{type:"submit"} 購入する
  .TsurutaTerms
    = link_to "#", class: "TsurutaTerm" do
      プライバシーポリシー
    = link_to "#", class: "TsurutaTerm" do
      利用規約
    = link_to "#", class: "TsurutaTerm" do
      特定商取引に関する表記
  = image_tag src="logo-white.png", class: "TsurutaIcon2"