.side_menu
  %ul.side_menu__top
    = link_to user_path do
      %li
        %p マイページ
        %span ＞
    = link_to new_item_path do
      %li
        %p 出品する
        %span ＞
    = link_to sold_item_user_path do
      %li
        %p 出品した商品 
        %span ＞
    = link_to bought_item_user_path do
      %li
        %p 購入した商品
        %span ＞
    = link_to '#' do
      %li
        %p いいね!した商品
        %span ＞
  %h3 設定
  %ul.side_menu__bottom
    = link_to new_card_path do
      %li
        %p 支払い方法
        %span ＞
    = link_to log_out_user_path do
      %li
        %p ログアウト
        %span ＞