= render 'layouts/header'

.mypage
  = render "side_menu"
  .main_contents
    .user_header
      .user_header__info
        = image_tag asset_path("member_photo_noimage_thumb.png")
        %p= current_user.nickname
    .item_window
      %h3 お知らせ
      .item_window__list
        .item
          = image_tag asset_path("pict-reason-02.jpg")
          %p お知らせはありません。
        .item
          = link_to "一覧を見る", "#", class: "index_btn"

= render 'layouts/footer'