.top-visual
  .content
    %h2.content__subtitle
      %br
      人生を変えるフリマアプリ
    %p.content__text
      FURIMAはだれでもかんたんに出品・購入できる
      %br
      フリマアプリです
    .content__btn
      = link_to '#', class: "app-google-icon" do
        = image_tag 'material/logo/app-store-logo.png', size: "180x53", class: "abtn"
      = link_to '#', class: "app-google-icon" do
        = image_tag 'material/logo/google-play-logo.svg', size: "180x53", class: "gbtn"
.introdaction
  %h2.subtitle
    FURIMAが選ばれる3つの理由
  %ul.lists
    %li.list
      .list__pict
        %span.number
          1
        = image_tag 'material/pict/pict-reason-01.jpg', class: "pict-image"
      %h3.list__text
        %span.text-green
          3分
        ですぐに出品
      %p.list__discription
        スマホで入力するだけで簡単に出品できる！
    %li.list
      .list__pict
        %span.number
          2
        = image_tag 'material/pict/pict-reason-02.jpg', class: "pict-image"
      %h3.list__text
        %span.text-green
          シンプル 
        で使いやすい
      %p.list__discription
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.list
      .list__pict
        %span.number
          3
        = image_tag 'material/pict/pict-reason-03.jpg', class: "pict-image"
      %h3.list__text
        手数料
        %span.text-green
          業界最安
      %p.list__discription
        最大3%でお得に出品&購入！
.dl-content
  .dl-content__inner
    %h2.subtitle
      会員数日本一位
    %p.text
      FURIMAは、フリマアプリで最も人気。
      %br
      出品・購入回数も業界最多です！
      %br
      ほしかったあの商品に出会えるかもしれません。
    .btn
      = link_to '#', class: "app-google-icon" do
        = image_tag 'material/logo/app-store-logo.png', size: "180x53", class: "abtn"
      = link_to '#', class: "app-google-icon" do
        = image_tag 'material/logo/google-play-logo.svg', size: "180x53", class: "gbtn"
.service-feature
  %h2.f-head
    FURIMAの特徴
  .f-items
    .f-item
      .f-item__img
        = image_tag 'material/icon/icon-01.png', class: "f-image"
      %h3.f-item__subtitle
        簡単に売り買いできる
      %p.f-item__deitail
        スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    .f-item
      .f-item__img
        = image_tag 'material/icon/icon-03.png', class: "f-image"
      %h3.f-item__subtitle
        売上金は即日振込みに対応
      %p.f-item__deitail
        午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    .f-item
      .f-item__img
        = image_tag 'material/icon/icon-04.png', class: "f-image"
      %h3.f-item__subtitle
        様々な支払いに対応
      %p.f-item__deitail
        お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。