.item__show
  .item__show__wrapper
    .item__showBox
      .item__showBox__name
        = @item.name
      .item__showBox__body
        %ul
          %li
            = image_tag @item.images.first.image.url, class: "show__image__main"
            %ul
              - @item.images.each do |i|
                %li
                  = image_tag i.image.url, class: "show__image__sub"
      .item__showBox__price
        .item__showBox__price--main
          = "¥#{@item.price}"
        .item__showBox__price--detail
          (税込)
          = @item.shipping_cost
      .item__showBox__detail
        = @item.description
      %table.item__showBox__table
        %tbody
          %tr
            %th 出品者
            %td
              = @item.seller.nickname
          %tr
            %th カテゴリー
            %td
              = link_to 'ベビー・キッズ', '#', class: 'dataLink'
              %br
              = link_to 'ベビー服(男女兼用) ~95cm', '#', class: 'dataLink'
              %br
              = link_to 'アウター', '#', class: 'dataLink'
          %tr
            %th ブランド
            %td
          %tr
            %th 商品の状態
            %td
              = @item.condition
          %tr
            %th 配送料の負担
            %td
              = @item.shipping_cost
          %tr
            %th 配送元の地域
            %td
              = link_to '岩手県', '#', class: 'dataLink'
          %tr
            %th 発送日の目安
            %td
              = @item.shipping_day
      %ul.item__showBox__optionalArea
        %li.item__showBox__optionalArea--likeBtn
          = link_to 'お気に入り 0', '#' 
        %li.item__showBox__optionalArea--optionalBtn
          = link_to '不適切な商品の通報', '#'
    %ul.pagination
      %li
        = link_to '前の商品', '#', class: 'fa-angle'
      %li
        = link_to '後ろの商品', '#', class: 'fa-angle'
    .item__show__relatedItems
      = link_to 'ベビー・キッズをもっと見る', '#', class: 'item__show__relatedItems'
    .item__show__relatedLists
      .item__show__relatedLists--item
        .item__show__relatedLists--image
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png"
        .item__show__related__list--body
          .item__show__related__list--name
            ee
          .item__show__related__list--details
            %ul
              %li 1000円
      .item__show__relatedLists--item
        .item__show__relatedLists--image
          = image_tag "https://s3-ap-northeast-1.amazonaws.com/mercarimaster/uploads/captured_image/content/15/a003.png"
        .item__show__related__list--body
          .item__show__related__list--name
            ee
          .item__show__related__list--details
            %ul
              %li 1000円