.Product
  .product-header
    = link_to image_tag("logo.png", alt: "", class: "product-header__logo"), "#"
  .product-main
    .product-main__contents
      %h3.product-main__contents__message
        商品情報の入力
        .img-form
          .img__form__text
            出品画像
          %span.form--caution
            必須
          .img__form__comment
            最大10枚までアップロードできます
  .product-footer
    .product-footer__upper
      %ul.menu
        %li.menu__list
          = link_to "プライバシーポリシー","#"
        %li.menu__list
          = link_to "Fleamarket利用規約","#"
        %li.menu__list
          = link_to "特定商取引に関する表記","#"
    .product-footer__bottom
      = link_to image_tag("logo.png", alt: "", class: "product-footer__bottom__monochrome"), "#"
      %p © Fleamarket, Inc.

