.CardForm
  = link_to image_tag(src="logo.png", class: "TsurutaIcon"), root_path
  .CardForm__title
    クレジットカード情報
  .CardForm__contents
    .CardForm__content
      カード番号
      .CardNumbar
        = "**** **** **** " + @default_card_information.last4
    .CardForm__content
      - exp_month = @default_card_information.exp_month.to_s
      - exp_year = @default_card_information.exp_year.to_s.slice(2,3)
      有効期限
      .CardExpiration
        = exp_month + " / " + exp_year
    .CardForm__content
      .CardSubmit
        .CardSubmit__button--left
          = form_tag(card_path(current_user.id), method: :delete, id: 'charge-form',  name: "inputForm") do
            %input{ type: "hidden", name: "card_id", value: "" }
            %button.CardSubmit__button 削除する
        - if session[:item_id]
          .CardSubmit__button
            = link_to "戻る", item_transacts_path(session[:item_id]), class: "CardSubmit__button" 
        - else 
          .CardSubmit__button
            = link_to "戻る", user_path(current_user.id), class: "CardSubmit__button" 
  .TsurutaTerms
    = link_to "#", class: "TsurutaTerm" do
      プライバシーポリシー
    = link_to "#", class: "TsurutaTerm" do
      利用規約
    = link_to "#", class: "TsurutaTerm" do
      特定商取引に関する表記
  = image_tag src="logo-white.png", class: "TsurutaIcon2"
