.footer
  %ul.footer__contents
    %li.content
      %h2.content__head
        FURIMAについて
      %ul.content-lists
        %li
          = link_to '#', class: "content-list" do
            会社概要（運営会社）
        %li
          = link_to '#', class: "content-list" do
            プライバシーポリシー
        %li
          = link_to '#', class: "content-list" do
            FURIMA利用規約
        %li
          = link_to '#', class: "content-list" do
            ポイントに関する特約
    %li.content
      %h2.content__head
        FURIMAを見る
      %ul.content-lists
        %li
          = link_to '#', class: "content-list" do
            カテゴリー一覧
        %li
          = link_to '#', class: "content-list" do
            ブランド一覧
    %li.content
      %h2.content__head
        ヘルプ＆ガイド
      %ul.content-lists
        %li
          = link_to '#', class: "content-list" do
            FURIMAガイド
        %li
          = link_to '#', class: "content-list" do
            FURIMAロゴ利用ガイドライン
        %li
          = link_to '#', class: "content-list" do
            お知らせ
  .footer__logo
    =link_to '#', class: "footer__logo__logo-image" do
      = image_tag 'logo-white.png', size: "160x46"
    %p.footer__logo__logo-text
      ©️FURIMA
= link_to '#', class: "exhibition" do
  .exhibition-btn
    %span.exhibition-btn__text
      出品する
    = image_tag 'icon_camera.png', class: "exhibition-btn__icon", size: "54x54"